.reset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}
.reset-span{
    font-size: 23px;
    color: darkgray;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}
.reset-button{
    width: 200px;
    font-size: 21px;
    padding: 5px;
    margin: 0 auto;

    border: 2px solid darkgrey;
    border-radius: 6px;
    background-color: gainsboro;
    box-shadow: 2px 2px 0 0 darkgrey,
    4px 4px 0 0 black;
    transition-duration: 200ms;
}
.reset-button:hover{
    box-shadow: 3px 3px darkgrey, 6px 6px 0 0 black;
    transform: translate(2px, -2px);
}